:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.2em / 1.2 'Arial', 'Helvetica', sans-serif;
  /*Tamanho de 19.2px*/
  background-color: #fff;
  color: #333;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    'nav nav nav nav'
    'sidebar main main main'
    'sidebar content1 content2 content3'
    'sidebar footer footer footer';
  grid-gap: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #004d40;
  text-align: center;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
}

main {
  background: #84ffff;
  grid-area: main;
}

aside {
  background: #18ffff;
  grid-area: sidebar;
}

.content1 {
  background: #6fffd2;
  grid-area: content1;
}
.content2 {
  background: #64ffda;
  grid-area: content2;
}
.content3 {
  background: #73ffba;
  grid-area: content3;
}

footer {
  background: #1de9b6;
  grid-area: footer;
}

main,
aside,
.content1,
.content2,
.content3,
footer {
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

@media screen and (max-width: 40em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      'nav'
      'sidebar'
      'main'
      'content1'
      'content2'
      'content3'
      'footer';
  }
  main,
  aside,
  .content1,
  .content2,
  .content3,
  footer {
    margin: 0 0.4em;
  }
}
